#form-header{
  display: inline-block;
  width:32%;
}

#logo-header{
  display: inline-block;
  width:32%;
}

#session-header{
  display: inline-block;
  width:32%;
  text-align: right;
}

header{
  width:100%;
}

#map-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.3;
}

#map
{
    width: 100%;
    height: 100%;
}

input
{
    background: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
}

#form-container {
    height: 100vh;
    position: relative }
#form-container form {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }