a, a:visited{
  color: #faebd7;
  text-decoration: none;
}

a:hover{
  color: #faebd7;
  text-decoration: underline;
}

header{
  width:100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

#logo-header{
  width: calc(33% - 1em);
}

#form-header{
  width: calc(33% - 1em);
  display: flex;
  justify-content: center;
}

#session-header{
  width: calc(33% - 1em);
  text-align: right;
}



#map-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.3;
}

#map
{
    width: 100%;
    height: 100%;
}

input
{
    background: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
}

.tracks-container{
  width: 100%;
}

#index-form-container {
    height: 100vh;
    position: relative }
#index-form-container form {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

.song-thumbnail{
  display: inline-block;
  width: 100px;
  height: 100px;
}

.thumbnail{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.song-info-container{/*
  display: flex;
  justify-content: center;*/
}

.song-info-init{
  display: inline-block;
  height: 100px;
  max-width: 150px;
  vertical-align: top;
}

.song-info-artist{
  font-size: 1.2em;
}

.top-tracks-header{
  text-align: center;
}

.country-name{
  font-size: 5em;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.country-tag{
  font-size: 1.5em;
  text-transform: lowercase;
  letter-spacing: 3px;
}

.summary{
  max-height: 0;
  overflow: hidden;

  transition: all .4s linear;

  margin-bottom: 1em;
}

.summary.active{
  height: auto;
  max-height: 300px;
  overflow: auto;

  transition: all .4s linear;

  /*height: 0px;
  overflow: hidden;
  max-height: 0px;

  transition: all .2s linear;*/
/*  display: none;*/
}

/* october 20th patch */

.top-tracks-header{
  margin-bottom: 1em;
}

  /* Gradient color1 - color2 - color1 */
hr.top-tracks-divider {
  border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #333, #ccc, #333);
  width: 25%;
  /*border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
*/}

.top-tracks-container{
  width: 32%;
  margin: 0 auto;
}

.track-youtube-video{
  width: 100%;
  display: block;
}

.track-summary{
  font-size: .8em;
}

/* login and registration form styling */

.new-container{
  width: 25%;
  margin: 0 auto;
  text-align: center;
}

.new-container form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.new-container input{
  display: block;
  border: 1px #faebd7 solid;
  border-radius: 3px;
  width: 85%;
  margin: .5em;
  font-size: .9em;
}

.fourohfour-container{
  text-align: center;
}
