<script>
  function initMap() {
    var uluru = {lat: <%= lat %>, lng: <%= lng %>};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 4,
      center: uluru
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
  }
</script>

<div id="map"></div>