<form method="post" action="/locations" id="location-form">
  <input type="textarea" name="input_location" placeholder="Search for a country">
  <input id="location-submit" type="submit" value="ðŸ”">
</form>