<% if current_user %>
  <a href="/users/<%= current_user.id %> "><%= current_user.username %></a> | 
  <a href="/logout">Logout</a>
<% else %>
  <a href="/login">Login</a> | 
  <a href="/users/new">Register</a>
<% end %>