<div class="modal fade" id="thankYou" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Thank You's</h4>
        </div>
        <div class="modal-body">
          <div class="homies-container">
          <img id="homies" src="http://i.imgur.com/cwihrOJ.gif">
          </div>

          <p>
            <ul>
              <li>DBC Teachers and Mentors</li>
              <li>All you bobolinks, coyotes, and wolves</li>
            </ul>

          Thank you all so much for your patience, resourcefulness, and encouragement!
          </p>

          <p>Special Thanks to:
            <ul>
              <li>
                Alex Carroll, for naming my app
              </li>
              <li>
                Todd Seller, for being a front-end genius and Literally CSS-Gandalf
              </li>
              <li>
                Google, for being Google
              </li>
            </ul>

          <!-- <span class="secret">and senpai ♥</span> -->
          </p>
        </div>
        <div class="modal-footer">

          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>