<iframe class="track-youtube-video"
        src="https://www.youtube.com/embed/<%= track.youtube_id %>?enablejsapi=1"
        frameborder="0"
></iframe>

<span class="track-summary"><%= track.summary %></span>