<% if current_user %>
  <h2>Welcome <%= current_user.username %>!</h2>
<% else %>
  <h2>Welcome to <%= @user.username %>'s profile page!</h2>
<% end %>

<div class="compliment-container">
  <%= @user.compliment %>
</div>
