<form method="post" action="/locations">
  <input type="textarea" name="input_location" placeholder="Search for a country">
  <input type="submit" value="submit">
</form>

<p>yo</p>

<div id="map"></div>

