<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>MapJamz</title>
</head>
<body>
<div id='main-container'>
  <header>
  <div id='logo-header'>
  MapJamz{🎵}
  </div>
  <div id='form-header'>
  </div>
  <div id='session-header'>
    <%= erb :'/partials/_session_header' %>
  </div>
  </header>
  
  <%= yield %>
</body>
</div>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap">
</script>

</html>
