<h3><%= location.country.capitalize %></h3>
<p>Top 25 tracks from the last week</p>
<ul>
  <% @top_tracks.each do |track| %>
    <li><%= track.name %></li>
  <% end %>
</ul>


<%= erb :'partials/_location_map', layout: false, locals: {lat: @latitude, lng: @longitude} %> 